.fees{
    display: flex;
    align-items: center;
    gap: 10rem;
    margin-left: 10rem;
    margin-top: 8rem;
}

.fees-img{
    width: 500px;
}

.fees-text{
    width: 380px;
    h2{
        color: rgb(64, 14, 111);
        width: 400px;
        font-size: 40px;
    }
}
