.chat{
    display: flex;
    gap: 13rem;
    margin-left: 10rem;
    margin-top: 9rem;
}

.chat-text{
    width: 350px;
    margin-top: 2rem;
    h2{
        color: rgb(64, 14, 111);
        font-size: 40px;
        width: 400px;
    }
}

.chat-img{
    width: 500px;
}