.block{
    display: flex;
    align-items: center;
    gap: 8rem;
    margin-left: 7rem;
    margin-top: 9rem;
}

.block-img{
    width: 600px;
}
.block-text{
    width: 350px;
    h2{
        color: rgb(64, 14, 111);
        font-size: 35px;
        width: 400px;
    }
}